/* #names {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border: 1px solid red;
} */


body{
  /* background-color: #4a154b; */
  background-color: black;
}
button{
  background-color: #b58863;
 
}

#container{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
}



.logoimage{
  width: 30%;
}

#leftcon{
  
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
}

#mid{
  /* border: 3px solid blue; */
  height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#notification{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  /* height: 10%; */
  /* margin-left: 33%; */
  /* width: 29%; */
  font-size:large;
  /* border: 1px solid green; */
  /* background-color: greenyellow; */
}

#notification>p{
  text-align: center;
}

#notification>div>p{
  text-align: center;
}

.joinbutton{
  width: 30%;
  
  margin: auto;
  padding: 10px;
}

.btn{
  width: 15%;
  padding: 10px;
}


#players{
  color: white;
}

#boardbutton{
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  height: 10%;
}

#boardbutton>button{
  height: 100%;
  width: 30%;
}



.playerhead{
  
  padding: 20px;
  background-color: #b58863;
}

#names>h3{
  border: 1px solid white;
  background-color: #f0d9b5;
  color: black;
  text-align: center;
}

/* added code for changes by vamshi */
#video_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.democlass {
  background-color: white;
}
.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f8be8;
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

.background__red {
  background-color: #f6484a;
}
.options {
  padding: 1rem;
  display: flex;
  background-color: rgb(231, 227, 227);
  background-image: url("https://i.pinimg.com/564x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f8be8;
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

video {
  height: 200px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 250px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  border: 3px solid rgb(82, 255, 47);
}
.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.295;
  /* background-color: rgb(231, 227, 227); */
  background-color: rgb(45, 44, 44);
  color: black;
  background-image: url("./img/chesspieces/wikipedia/black_sky.jpg");
  /* background-image: url("https://i.pinimg.com/564x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg"); */
}
.main__chat_window {
   flex-grow: 1;
  overflow-y: scroll;
  background-color: #f0d9b5;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}
.messages {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}


.main__message_container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid black;
  overflow: auto;
  outline: none;
}
.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f8be8;
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

#gameBoard {
  width: 40%;
}
.main__right{
  border-radius: 5px;
}

@media only screen and (max-device-width: 576px) {
  #container{
    flex-direction: column-reverse;
    align-items: center;
  }
} 