* {
  margin: 0;
}

body {
  background-image: url("../img/backimg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
header {
  border: 1px solid white;
  width: 100%;
  color: red;
  text-align: center;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
}
.register {
  border: 2px solid white;
  width: 300px;
  height: auto;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.inputregister {
  width: 200px;
  height: 32px;
  border-radius: 5px;
  margin: 8px;
  color: red;
  padding-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
}
.registerform {
  margin-top: 10px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
}
#registerbtn {
  padding: 10px 90px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  color: red;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(213, 197, 197);
}
#registerbtn:hover {
  background-color: rgb(232, 107, 107);
  color: white;
}
input[type="radio"] {
  border: 1px solid #fff;
  padding: 0.5em;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type="radio"]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==)
    no-repeat center center;
  background-size: 9px 9px;
  cursor: pointer;
}

#radiobox {
  width: 70%;
  margin: auto;
}
label {
  color: white;
}
.termsdiv {
  display: flex;
  margin: auto;
  /* justify-content: space-evenly */
}
.termsdiv > div:nth-child(1) {
  margin-left: 28px;
}
